<html>
<h1 class="cover-heading">Register your device!</h1>
<form>
  <div class="form-group">
    <label for="action">Action</label>
    <input type="text" class="form-control" id="action" placeholder="What action do you want?"/>
  </div>
  <div class="form-group">
    <label for="yourkey">Your Key</label>
    <input type="text" class="form-control" id="yourkey" placeholder="Secret Key..."/>
  </div>
</form>
<p class="lead">
	<a href="#" id="adddevice" class="btn btn-lg btn-secondary">Add!</a>
</p>
</html>