<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="../images/icon.png"
	th:href="@{/images/icon.png}" />
<link href="../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<link href="../css/bootstrap-flex.min.css"
	th:href="@{/css/bootstrap-flex.min.css}" rel="stylesheet"
	media="screen" />
<link href="../css/bootstrap-grid.min.css"
	th:href="@{/css/bootstrap-grid.min.css}" rel="stylesheet"
	media="screen" />
<link href="../css/bootstrap-reboot.min.css"
	th:href="@{/css/bootstrap-reboot.min.css}" rel="stylesheet"
	media="screen" />
<link href="../css/font-awesome.min.css"
	th:href="@{/css/font-awesome.min.css}" rel="stylesheet" media="screen" />


<link href="../css/cover.css" th:href="@{/css/cover.css}"
	rel="stylesheet" media="screen" />

<script src="../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../js/tether.min.js" th:src="@{/js/tether.min.js}"></script>
<script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../js/iot.js" th:src="@{/js/iot.js}"></script>
<title>Openshift IOT Service</title>
</head>

<body>

	<div class="site-wrapper">

		<div class="site-wrapper-inner">

			<div class="cover-container">

				<div class="masthead clearfix">
					<div class="inner">
						<h3 class="masthead-brand">IoT</h3>
						<nav class="nav nav-masthead">
							<a class="nav-link active" href="iot">Home</a> <a
								class="nav-link" href="#" id="navactions">Actions </a> <a
								class="nav-link" href="#">Contact US</a>
						</nav>
					</div>
				</div>

				<div class="inner cover">
					<div id="welcome">
						<h1 class="cover-heading">Register your device!</h1>
						<p class="lead">Geting involved with IoT is easy and exciting.
							Register your IoT device and get actions from here!.</p>
						<p class="lead">
							<a href="#" id="start" class="btn btn-lg btn-secondary">Getting
								Started.</a>
						</p>
					</div>
					<div id="device" style="display: none"></div>
					<div id="actions" style="display: none"></div>
				</div>

				<div class="mastfoot">
					<div class="inner">
						<p>
							Cover template for <a href="https://getbootstrap.com">Bootstrap</a>,
							by <a href="https://twitter.com/mdo">@mdo</a>.
						</p>
					</div>
				</div>

			</div>

		</div>


	</div>
</body>
</html>