<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="../images/icon.png"
	th:href="@{/images/icon.png}" />
<link href="../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<link href="../css/cover.css" th:href="@{/css/cover.css}"
	rel="stylesheet" media="screen" />

<script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<title>Openshift IOT Service</title>
</head>

<body>

	<div class="site-wrapper">

		<div class="site-wrapper-inner">

			<div class="cover-container">

				<div class="masthead clearfix">
					<div class="inner">
						<h3 class="masthead-brand">IoT</h3>
						<nav class="nav nav-masthead">
							<a class="nav-link active" href="#">Home</a> <a class="nav-link"
								href="#">Pricing</a> <a class="nav-link" href="#">Contact US</a>
						</nav>
					</div>
				</div>

				<div class="inner cover">
					<h1 class="cover-heading">Hook your device!</h1>
					<p class="lead">Cover is a one-page template for building
						simple and beautiful home pages. Download, edit the text, and add
						your own fullscreen background photo to make it your own.</p>
					<p class="lead">
						<a href="#" class="btn btn-lg btn-secondary">Learn more</a>
					</p>
				</div>

				<div class="mastfoot">
					<div class="inner">
						<p>
							Cover template for <a href="https://getbootstrap.com">Bootstrap</a>,
							by <a href="https://twitter.com/mdo">@mdo</a>.
						</p>
					</div>
				</div>

			</div>

		</div>


	</div>
</body>
</html>